In [1]:
import numpy as np
import pandas as pd
import os
from rapidfuzz import fuzz

# Load data

In [2]:
# Get csv file polly-veerle/LLM_output.csv as df
import pandas as pd
import os

def get_csv_file(file_path):
    """
    Get csv file as dataframe
    """
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        return df
    else:
        raise FileNotFoundError(f"{file_path} not found")

In [3]:
llm_output_path = "LLM_output.csv"
llm_output_df = get_csv_file(llm_output_path)

# Filter out rows where 'price' is NaN or 0
llm_output_df = llm_output_df[~llm_output_df['price'].isna() & (llm_output_df['price'] != 0)]

# Get the shape of the dataframe
print("Shape of LLM Output DataFrame:", llm_output_df.shape)
# Group by 'sender', 'date', 'subject' and retrieve unique combinations
emails_ids_llm = llm_output_df[['sender', 'date', 'subject']].drop_duplicates()
# Display the results
print(f"Found {len(emails_ids_llm)} unique combinations of sender, date, and subject:\n")
print(emails_ids_llm)

# Get the first 5 rows of the dataframe
llm_output_df.head()

Shape of LLM Output DataFrame: (125, 18)
Found 5 unique combinations of sender, date, and subject:

                            sender                           date  \
24          t.hendriks@frankort.nl  2025-03-21 07:07:00.000 +0100
55   bart.de.vries@kraaijeveld.com  2025-03-26 08:51:00.000 +0100
79                 huub@pseelen.nl  2025-03-20 10:05:00.000 +0100
141  bart.de.vries@kraaijeveld.com  2025-03-03 08:30:00.000 +0100
161  bart.de.vries@kraaijeveld.com  2025-03-03 09:39:00.000 +0100

                                        subject
24                   Dagprijzen komkommers.xlsx
55                  Tomaten prijzen Kraaijeveld
79                                   Prijslijst
141                 Capsicum prices Kraaijeveld
161  Cucumber | Aubergines | Courgette | Onions

,timestamp_processing,supplier_name,sender,date,subject,type,variety,subvariety,size,piece,brand,package_type,class,origin_country_code,net_weight,quantity_per_pallet,price,remarks
24,2025-04-29 11:51:45.544 +0200,Frankort,t.hendriks@frankort.nl,2025-03-21 07:07:00.000 +0100,Dagprijzen komkommers.xlsx,Cucumber,Naked,unspecified,unspecified,unspecified,unspecified,Carton Box,unspecified,NL,10.0,56,12.50,Komkommer krom
25,2025-04-29 11:51:45.544 +0200,Frankort,t.hendriks@frankort.nl,2025-03-21 07:07:00.000 +0100,Dagprijzen komkommers.xlsx,Cucumber,Naked,unspecified,unspecified,unspecified,unspecified,EPS,unspecified,NL,10.0,60,12.50,komkomers krom
26,2025-04-29 11:51:45.544 +0200,Frankort,t.hendriks@frankort.nl,2025-03-21 07:07:00.000 +0100,Dagprijzen komkommers.xlsx,Cucumber,Mini,unspecified,unspecified,unspecified,unspecified,EPS,unspecified,NL,12.0,44,16.50,mini kokmkommers
27,2025-04-29 11:51:45.544 +0200,Frankort,t.hendriks@frankort.nl,2025-03-21 07:07:00.000 +0100,Dagprijzen komkommers.xlsx,Cucumber,Naked,unspecified,30,42stk,unspecified,EPS,unspecified,NL,0.0,60,18.75,EPSK
28,2025-04-29 11:51:45.544 +0200,Frankort,t.hendriks@frankort.nl,2025-03-21 07:07:00.000 +0100,Dagprijzen komkommers.xlsx,Cucumber,Naked,unspecified,25,48stk,unspecified,EPS,unspecified,NL,0.0,60,19.50,EPSK

In [4]:
target_output_path = "target_output.csv"
target_output_df = get_csv_file(target_output_path)

# Filter out rows where 'price' is NaN or 0
target_output_df = target_output_df[~target_output_df['price'].isna() & (target_output_df['price'] != 0)]

# Get the shape of the dataframe
print("Shape of Target Output DataFrame:", target_output_df.shape)
# Group by 'sender', 'date', 'subject' and retrieve unique emails
email_ids_target = target_output_df[['sender', 'date', 'subject']].drop_duplicates()
# Display the results
print(f"Found {len(email_ids_target)} unique combinations of sender, date, and subject:\n")
print(email_ids_target)

# Get the first 5 rows of the dataframe
target_output_df.head()

Shape of Target Output DataFrame: (427, 17)
Found 13 unique combinations of sender, date, and subject:

                                   sender                 date  \
2                         huub@pseelen.nl   20-03-2025 9:05:00
63                 t.hendriks@frankort.nl   21-03-2025 6:07:00
84                     DAVE@MARNIFRUIT.NL   21-03-2025 8:17:00
279                Dirk.Versluis@staay.nl  26-03-2025 11:45:00
388  dio.van.den.boogaard@kraaijeveld.com   25-03-2025 8:31:00
395         bart.de.vries@kraaijeveld.com   26-03-2025 7:52:00
427         gertjan.doorn@kraaijeveld.com   27-03-2025 7:01:00
487         bart.de.vries@kraaijeveld.com    3-03-2025 8:40:00
514         bart.de.vries@kraaijeveld.com    3-03-2025 7:31:00
534              Verkoop@fossaeugenia.com   20-11-2024 7:54:00
577              Verkoop@fossaeugenia.com   25-09-2024 7:51:00
594                    sonja@versland.com   28-03-2025 8:37:00
644                    g.vlin@frankort.nl    3-03-2025 0:00:00

                                          subject
2                                      Prijslijst
63                     Dagprijzen komkommers.xlsx
84                   MARNI FRUIT B.V.: Prijslijst
279               Offer Pears / Staay-Hispa 26-03
388                                      Potatoes
395                   Tomaten prijzen Kraaijeveld
427                    Melons Kraaijeveld | 27-03
487    Cucumber | Aubergines | Courgette | Onions
514                   Capsicum prices Kraaijeveld
534                      Fossa Eugenia 20-11-2024
577                      Fossa Eugenia 25-09-2024
594                           Prijslijst Versland
644  Melon pricelist Frankort & Koning 03-03-2025

,supplier_name,sender,date,subject,type,variety,subvariety,size,piece,brand,package_type,class,origin_country_code,net_weight,quantity_per_pallet,price,remarks
2,Pseelen,huub@pseelen.nl,20-03-2025 9:05:00,Prijslijst,Cherry Vine Tomato,unspecified,unspecified,unspecified,unspecified,Pauline,Carton Box,unspecified,NL,3.00,176,16.30,NaN
3,Pseelen,huub@pseelen.nl,20-03-2025 9:05:00,Prijslijst,Cherry Vine Tomato,unspecified,unspecified,unspecified,unspecified,Pauline,Carton Box,unspecified,IT,3.00,176,9.30,NaN
4,Pseelen,huub@pseelen.nl,20-03-2025 9:05:00,Prijslijst,Cherry Vine Tomato,unspecified,unspecified,unspecified,unspecified,Rote Perle,Carton Box,unspecified,NL,3.70,176,18.25,NaN
5,Pseelen,huub@pseelen.nl,20-03-2025 9:05:00,Prijslijst,Cherry Vine Tomato,unspecified,unspecified,unspecified,unspecified,Harvest of Health,Carton Box,unspecified,NL,3.70,220,20.95,NaN
6,Pseelen,huub@pseelen.nl,20-03-2025 9:05:00,Prijslijst,Cherry Vine Tomato,unspecified,unspecified,unspecified,unspecified,Hönig,Carton Box,unspecified,NL,3.00,220,46.50,NaN

## Make sure that the column names in both tables are equal

In [5]:
# check if the columns of the two dataframes are the same
def check_columns(df1, df2):
    """
    Check if the columns of the two dataframes are the same
    """
    if df1.columns.equals(df2.columns):
        return True
    else:
        return False

# check if the columns of the two dataframes are the same
if check_columns(llm_output_df, target_output_df):
    print("The columns of the two dataframes are the same")
else:
    print("The columns of the two dataframes are not the same")
    # print the columns of the two dataframes
    print("LLM_output_df columns: ", llm_output_df.columns)
    print("target_output_df columns: ", target_output_df.columns)

The columns of the two dataframes are not the same
LLM_output_df columns:  Index(['timestamp_processing', 'supplier_name', 'sender', 'date', 'subject',
       'type', 'variety', 'subvariety', 'size', 'piece', 'brand',
       'package_type', 'class', 'origin_country_code', 'net_weight',
       'quantity_per_pallet', 'price', 'remarks'],
      dtype='object')
target_output_df columns:  Index(['supplier_name', 'sender', 'date', 'subject', 'type', 'variety',
       'subvariety', 'size', 'piece', 'brand', 'package_type', 'class',
       'origin_country_code', 'net_weight', 'quantity_per_pallet', 'price',
       'remarks'],
      dtype='object')

## Make sure the data format in LLM output equals the data format in target output

In [6]:
# Set all values equal to 'unspecified' in both dataframes to NaN
llm_output_df.replace('unspecified', np.nan, inplace=True)
target_output_df.replace('unspecified', np.nan, inplace=True)

# Set the class, net_weight, quantity_per_pallet and price columns to numeric values, ignoring nans
llm_output_df['class'] = pd.to_numeric(llm_output_df['class'], errors='coerce').astype('Int64')
target_output_df['class'] = pd.to_numeric(target_output_df['class'], errors='coerce').astype('Int64')
llm_output_df['net_weight'] = pd.to_numeric(llm_output_df['net_weight'], errors='coerce').round(2)
target_output_df['net_weight'] = pd.to_numeric(target_output_df['net_weight'], errors='coerce').round(2)
llm_output_df['quantity_per_pallet'] = pd.to_numeric(llm_output_df['quantity_per_pallet'], errors='coerce').astype('Int64')
target_output_df['quantity_per_pallet'] = pd.to_numeric(target_output_df['quantity_per_pallet'], errors='coerce').astype('Int64')
llm_output_df['price'] = pd.to_numeric(llm_output_df['price'], errors='coerce').round(2)
target_output_df['price'] = pd.to_numeric(target_output_df['price'], errors='coerce').round(2)

# Parse 'date' column properly
target_output_df['date'] = pd.to_datetime(target_output_df['date'], errors='coerce')
llm_output_df['date'] = pd.to_datetime(llm_output_df['date'], errors='coerce')
# Remove timezone information (make it naive datetime)
target_output_df['date'] = target_output_df['date'].dt.tz_localize(None)
llm_output_df['date'] = llm_output_df['date'].dt.tz_localize(None)
# Normalize to date (floor time to 00:00:00)
target_output_df['date'] = target_output_df['date'].dt.normalize()
llm_output_df['date'] = llm_output_df['date'].dt.normalize()

/var/folders/cp/_vv91j_97mg4lm6b_5jyhc4w0000gn/T/ipykernel_6104/3441986996.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  llm_output_df.replace('unspecified', np.nan, inplace=True)
/var/folders/cp/_vv91j_97mg4lm6b_5jyhc4w0000gn/T/ipykernel_6104/3441986996.py:16: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  target_output_df['date'] = pd.to_datetime(target_output_df['date'], errors='coerce')

In [7]:
for col in target_output_df.columns:
    print(f"Column: {col}")
    print(f"Datatype LLM_output_df: {llm_output_df[col].dtype}")
    print(f"Datatype target_output_df: {target_output_df[col].dtype}")
    print(f"Unique values LLM_output_df: {llm_output_df[col].unique()}")
    print(f"Unique values target_output_df: {target_output_df[col].unique()}")
    print()

Column: supplier_name
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['Frankort' 'Kraaijeveld' 'Pseelen']
Unique values target_output_df: ['Pseelen' 'Frankort' 'Marnifruit' 'Staay' 'Kraaijeveld' 'Fossaeugenia'
 'Versland']

Column: sender
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['t.hendriks@frankort.nl' 'bart.de.vries@kraaijeveld.com'
 'huub@pseelen.nl']
Unique values target_output_df: ['huub@pseelen.nl' 't.hendriks@frankort.nl' 'DAVE@MARNIFRUIT.NL'
 'Dirk.Versluis@staay.nl' 'dio.van.den.boogaard@kraaijeveld.com'
 'bart.de.vries@kraaijeveld.com' 'gertjan.doorn@kraaijeveld.com'
 'Verkoop@fossaeugenia.com' 'sonja@versland.com' 'g.vlin@frankort.nl']

Column: date
Datatype LLM_output_df: datetime64[ns]
Datatype target_output_df: datetime64[ns]
Unique values LLM_output_df: <DatetimeArray>
['2025-03-21 00:00:00', '2025-03-26 00:00:00', '2025-03-20 00:00:00',
 '2025-03-03 00:00:00']
Length: 4, dtype: datetime64[ns]
Unique values target_output_df: <DatetimeArray>
['2025-03-20 00:00:00', '2025-03-21 00:00:00', '2025-03-26 00:00:00',
 '2025-03-25 00:00:00', '2025-03-27 00:00:00', '2025-03-03 00:00:00',
 '2024-11-20 00:00:00', '2024-09-25 00:00:00', '2025-03-28 00:00:00']
Length: 9, dtype: datetime64[ns]

Column: subject
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['Dagprijzen komkommers.xlsx' 'Tomaten prijzen Kraaijeveld' 'Prijslijst'
 'Capsicum prices Kraaijeveld'
 'Cucumber | Aubergines | Courgette | Onions']
Unique values target_output_df: ['Prijslijst' 'Dagprijzen komkommers.xlsx' 'MARNI FRUIT B.V.: Prijslijst'
 'Offer Pears / Staay-Hispa 26-03' 'Potatoes'
 'Tomaten prijzen Kraaijeveld' 'Melons Kraaijeveld | 27-03'
 'Cucumber | Aubergines | Courgette | Onions'
 'Capsicum prices Kraaijeveld' 'Fossa Eugenia 20-11-2024'
 'Fossa Eugenia 25-09-2024' 'Prijslijst Versland'
 'Melon pricelist Frankort & Koning 03-03-2025']

Column: type
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['Cucumber' 'Cherry Plum Tomato' 'Cherry Tomato' 'Cherry Vine Tomato'
 'Round Tomato' 'Vine Tomato' 'Beef Tomato' 'Apples' 'Capsicum' 'Garlic'
 'Carrots' 'Leek' 'Aubergines' 'Springonion' 'Celery' 'Zucchini' 'Onions'
 'Radish']
Unique values target_output_df: ['Cherry Vine Tomato' 'Vine Tomato' 'Capsicum' 'Cucumber' 'Leek'
 'Green bean' 'Garlic' 'Pickle' 'Carrots' 'Aubergines' 'Apples' 'Tomato'
 'Cherry Tomato' 'Cherry Plum Tomato' 'Beef Tomato' 'Pepper' 'Zucchini'
 'Lettuce' 'Baby Lettuce' 'Asparagus' 'Parsnip' 'Fennel' 'Turnip'
 'Kohlrabi' 'Rettich' 'Springonion' 'Radish' 'Pak Choi' 'Red Chicory'
 'Jerusalem Artichoke' 'Celery' 'Broccoli' 'Cauliflower' 'Broad bean'
 'Ginger' 'Beetroots' 'Celeriac' 'Red Cabbage ' 'White Cabbage'
 'Chinese Cabbage' 'Avocado' 'Red Currants' 'Raspberries' 'Blackberries'
 'Strawberries' 'Coconuts' 'Sweet Potato' 'Passion Fruit' 'Grapes Red'
 'Grapes Blue' 'Grapes White' 'Grapes Mix' 'Kiwi' 'Melons' 'Watermelon'
 'Orange Press' 'Orange Hand' 'Lemons' 'Limes' 'Pears' 'Onions' 'Sjalot'
 'Pumpkin' 'Herbs' 'Mushrooms' 'Potato' 'Intense Tomato' 'Melon' 'Chicory'
 'Sweet Potatoe' 'Endive' 'Butter Lettuce' 'Iceberg' 'Romana'
 'Lettuce Hearts' 'Lollo' 'Oakleaf Lettuce' 'Lettuce Mix' 'Radicchio'
 'Arugula' "Lamb's lettuce"]

Column: variety
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['Naked' 'Mini' 'Mini Roma' 'Red' 'Yellow' nan 'Cherry Vine' 'Pink'
 'Boskoop' 'Green' 'White' 'Golden Delicious' 'Mix' 'Palermo' 'Orange'
 'Filmed' 'Flowpack']
Unique values target_output_df: [nan 'Red' 'Green' 'Yellow' 'Industry' 'Elstar' 'Braeburn' 'Jonagold'
 'Rode Boskoop' 'Golden Delicious' 'Wellant' 'Mini' 'Gelegd?' 'Can' 'BBB'
 'Habanero Red' 'Jalapeno Green' 'Green or G?' 'Filmed' 'Naked' 'NW?'
 'Solo' 'Pealed' 'Little Gem' 'Romana' 'Lollo' 'Oak Leaf' 'Salatrio'
 'Frisée' 'Radicchio' 'Lamb' 'Mesclun' 'Arugula' 'Baby Spinach' 'Ice'
 'Cooked' 'Choiggia' 'Reed' 'Fuerte' 'Seedless' 'Cantaloupe' 'Galia'
 'Yellow Honey Dew' 'Seeded' 'Valencia' 'Navel' 'Primo' 'Royal Gala'
 'Pink Lady' 'Granny Smith' 'Red Chief' 'Story' 'Conference' 'White'
 'Banana Shallot' 'Butternut' 'Hokaido' 'Basil' 'Chervil' 'Chives'
 'Tarragon' 'Coriander' 'Mint' 'Rosemary' 'Sage' 'Thyme' 'Mix'
 'King Oyster' 'Brown Beech ' 'White Beech ' 'Asian Pear' 'Xenia'
 "William'S-Bc " 'Packham' 'Cape Rose' 'Cheeky' 'Celina Fancy'
 'Celina Extra Fancy' 'Rosemarie' 'Agata' 'Mozart' 'Grill' 'Truffle'
 'Ratte' 'Plum' 'Round' 'Flow' 'Orange' 'Capia' 'Palermo' 'Chili' 'Purple'
 'Hokkaido' 'Iceberg' 'Frisee Yellow' 'Frisee Yellow Flowpack'
 'Frisee Green Foly' 'Poly' 'Foly' 'Bionda Foly' 'Green Foly' 'Red Foly'
 'Rosso Foly']

Column: subvariety
Datatype LLM_output_df: float64
Datatype target_output_df: object
Unique values LLM_output_df: [nan]
Unique values target_output_df: [nan 'Classico' 'Costa?' 'Castel?' 'La Cana?' 'Rossa' 'Bionda' 'Kluit'
 'Yellow' 'Beetroots' 'Perlon' 'Sweet Joy' 'Thompson Seedless' 'Arra 15'
 'Crimson Seedless' 'Sweet Globe' 'Quetzali' 'Dumara' 'Green' 'Red'
 'Blush?' 'Babyplum Triangle' 'Babyplum Shaker' 'Bio' 'Kas']

Column: size
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: [nan '30' '25' '35+' '40' '50' 'M' 'MM' 'MMM' 'G' 'BBB' '80' '75-80'
 'Grof' '100' '75+' '55+' '175+' '30-35' '40-50' '35-40' '50-60' '70-75'
 '300+' '95-105' '900gr/+' '65+' '65-70' 'Middel' 'GG' 'XL' '225+' '16'
 'G12' '75-105' '60-80']
Unique values target_output_df: [nan 'Middel/grof' 'Grof' '30-35' '35-40' '40-50' '50-60' '55' 'D'
 '50/150' '125/175' '175/325' '225/300' '75/80' '80/85' '60/65' '65/70'
 '70/75' '80/90' '85/95' '70/80' '75/85' '85/90' '65/75' '90/100' '50+'
 '40+' '35+' '30+' '25+' 'G' 'M' 'Middel' 'Fijn' '92 - 102' 'GG' '95+MM'
 '225-300GR' '300-400GR' 'Green or G?' '250+' '300+' '200+' '500+' '50+MM'
 'L' 'XL' 'A' '8/10' 'X6' 'C' 'L1' 'L2' 'Jumbo' 'CAL.33' 'CAL.36' '70-75'
 '90+' '60-65' '75-80' 'CAL 2' '60-80' '75-105' 'S' '55-65 Mm' '60-70 Mm'
 '70-80 Mm' '65-70 Mm' '70-75 Mm' '75-80 Mm' '80-85 Mm' '85-90 Mm' '120'
 '70' '80' '90' '38' '42' '45' '48' '52' '60' '96' '30' '20-40mm'
 '38-45mm' '40x' 'MM' 'MMM' 'BBB' '7' '11' '175+' '225+' '16' 'G12' '400+'
 'B' '500-800+' '800-1300' '1300+' '500-800' '800-1200' 'kort-grof/lang'
 '800-1200+' '400gr+' '500gr+' 'Long' '500-800gr+' '5' '6']

Column: piece
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: [nan '42stk' '48stk' '16stk' '14stk' '12stk' '32stk' '12x250g' '9x250g'
 '10x500g' '10x1kg']
Unique values target_output_df: [nan '14stk' '12stk' '16stk' '32stk' '42stk' '48stk' '9x250g' '2x5kg'
 '10x1kg' '20x500g' '40x250g' '20x100g' '8x250g' '10x2stk' '10x1stk'
 '10stk' '9stk' '8x125g' '11x450g' '14-16stk' '20stk' '15stk' '20x125g'
 '10x500g' '11stk' '6stk' '8stk' '12x500g' '9-10stk' '18stk' '22stk'
 '24stk' '12x125g' '8x500g' '50stk' '7stk' '4stk' '5stk' '3stk' '2x500g'
 '40stk' '56stk' '64stk' '100stk' '113stk' '72stk' '80stk' '88stk' '36stk'
 '70stk' '54stk' '60stk' '150stk' '2lgs' '1lgs' '20x1kg' '20x250g'
 '4x250g' '20x150g' '26stk' '28stk' '12x250g' '8-12stk' '10x6stk']

Column: brand
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: [nan 'Premium' 'Pauline']
Unique values target_output_df: ['Pauline' 'Rote Perle' 'Harvest of Health' 'Hönig' nan 'Luna' 'Kaine'
 'Suprimo' 'Louise' 'Asian Pears' 'Thomar' 'Nero' 'Generic' 'Inseason'
 'Zonnehaven' 'Chilternfarm' 'Inseason / Frupak' 'Zonnehaven / Frupak'
 'Volmoed / Flavours' 'Volmoed' 'Pears' 'Pere / Stargrow' 'Stargrow'
 'Select' 'Famosa']

Column: package_type
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['Carton Box' 'EPS' nan 'Bag']
Unique values target_output_df: ['Carton Box' 'EPS' 'Bag' nan 'Wooden Crate' 'Open Top Carton Box'
 'Styro Box']

Column: class
Datatype LLM_output_df: Int64
Datatype target_output_df: Int64
Unique values LLM_output_df: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64
Unique values target_output_df: <IntegerArray>
[<NA>, 1, 2]
Length: 3, dtype: Int64

Column: origin_country_code
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['NL' 'MA' nan 'ES' 'EG' 'IT']
Unique values target_output_df: ['NL' 'IT' 'MA' 'EG' 'ES' 'BE' 'CN' 'MX' 'FR' 'DE' 'LT' 'PT' 'CI' 'CO'
 'CL' 'ZA' 'IN' 'GR' 'HN' 'CR' 'PA' 'MR' 'BR' nan 'NL / BE' 'BR/HN']

Column: net_weight
Datatype LLM_output_df: float64
Datatype target_output_df: float64
Unique values LLM_output_df: [10.   12.    0.    4.    3.    2.25  6.    5.    7.   11.   15.   12.5
  6.5   3.7  14.    1.  ]
Unique values target_output_df: [ 3.    3.7   5.     nan 10.   12.5   7.   11.    6.5  15.   12.   32.
  6.    5.8   2.3   4.    2.    4.8   9.    2.2   2.8   2.5   1.    4.95
  4.5   8.   25.    8.2  16.   17.   18.   19.1  20.    2.25 14.   19.  ]

Column: quantity_per_pallet
Datatype LLM_output_df: Int64
Datatype target_output_df: Int64
Unique values LLM_output_df: <IntegerArray>
[ 56,  60,  44, 160, 144,   0, 108,  65, 120,  50,  88, 176, 200, 150, 100,
  95,  70,  80, 220,  52]
Length: 20, dtype: Int64
Unique values target_output_df: <IntegerArray>
[ 176,  220,  120,   88,  160,  108,   80,   50,  150,   65,   95,   52,  200,
  100,   70, <NA>,  144,   56,   60,   44,  140,  260,  105,  110,  180,  500,
   55,  170,  135,  152,   40,   75,  230,  250,  240,  136,  114,  125,   90,
   84,   66,   64,   49,  900,  999,  121,  130,   91,   98]
Length: 49, dtype: Int64

Column: price
Datatype LLM_output_df: float64
Datatype target_output_df: float64
Unique values LLM_output_df: [12.5  16.5  18.75 19.5   6.35  6.9   9.   11.    7.95  8.95  5.5   8.5
 18.5   9.5   9.95  7.5  10.5  17.5  12.9  13.45 13.55 15.65 15.75 16.3
 20.5  22.5  25.    2.75  2.95  4.8   5.45  5.65  5.85  7.6   7.75  8.1
  8.15  8.85  9.25  9.3   9.6   9.9  10.   18.25 20.95 46.5  18.   10.15
 10.25 10.7  22.75 11.25 11.8  11.9  15.95 12.95 11.95 17.95 13.95 29.95
 14.5  14.95 16.95  5.75  0.65  6.    5.25  6.25  0.8   4.25  4.    3.65
  8.3   6.95 15.5  16.    4.5 ]
Unique values target_output_df: [16.3   9.3  18.25 20.95 46.5  11.9  12.9  25.   15.75 22.75  7.5   7.75
 10.    9.25  4.8   5.65 20.5  22.5  18.    2.75  5.45  7.6   2.95  5.85
  8.1   9.    8.15 10.7  11.25 11.8  10.15  9.6   8.85 15.65 10.25  9.9
 13.45 13.55  6.9   6.35 12.5  16.5  18.75 19.5  12.15 15.15 10.65  7.1
  9.1  10.1  17.95 19.7  24.   11.65 12.65 16.7  34.35  8.6   6.6  11.15
 37.9  31.15 31.85 32.1   8.35 16.2  36.9  10.9   6.1   6.85 13.65 14.15
 14.9  28.3   4.3  40.4  36.4  31.35 27.3  19.95 17.7  18.2  14.65 13.15
 21.25 19.2  20.2  22.25 17.2   1.6   7.85  5.6   5.05 20.75 24.75 25.8
 10.4  23.75 15.7   4.4   7.35  9.05  9.75  9.35  0.95  0.65  0.9  18.7
  8.   13.   14.   16.   16.45  9.8  10.5  12.6  13.5  15.5  14.5  15.
 12.   19.   17.   18.5   9.65 14.95  7.95  8.95  5.5   8.5   9.5   9.95
 17.5  21.95  5.75  6.    5.25  6.25  4.25  4.    3.65  8.3   6.95 16.96
 13.95 12.95 15.95 11.95 29.95  7.    5.   11.5   6.45  7.65  8.25  8.7
 13.75 23.5   6.5 ]

Column: remarks
Datatype LLM_output_df: object
Datatype target_output_df: object
Unique values LLM_output_df: ['Komkommer krom' 'komkomers krom' 'mini kokmkommers' 'EPSK'
 'Hollandse komkommers - belichte teelt - nieuwe oogst' 'mini komkommers'
 'E.T.A. 28-03' nan 'kroonloos' 'E.T.A. 26-03' '3 colors' '(57-62)'
 '(62-67)' 'Jonagold variety not specified'
 'Wellant variety not specified' 'Rode Boskoop variety'
 'Sperziebonen klasse I fijn' 'Frischer Knoblauch' 'Peen' 'Elstar'
 'Breaburn' 'Aubergine' 'Augurken DF' 'Golden variety' 'E.T.A. 28-02'
 'E.T.A. 01-03' 'E.T.A. 03-03' 'E.T.A. 04-03' 'E.T.A. 05-03']
Unique values target_output_df: [nan 'Crownless' '(57-62)' '(62-67)' '9.5' '11.5']

# Get overlapping emails

In [8]:
# Drop duplicates
emails_ids_target = target_output_df[['sender', 'date', 'subject']].drop_duplicates()
emails_ids_llm = llm_output_df[['sender', 'date', 'subject']].drop_duplicates()

# Turn into sets
target_set = set(tuple(x) for x in emails_ids_target.values)
llm_set = set(tuple(x) for x in emails_ids_llm.values)

# Find overlaps
overlap_set = target_set & llm_set
print(f"Found {len(overlap_set)} overlapping combinations:")
print(overlap_set)

# Filter the original DataFrame based on the overlap
llm_output_df = llm_output_df[llm_output_df[['sender', 'date', 'subject']].apply(tuple, axis=1).isin(overlap_set)]
print("Shape of LLM Output DataFrame after filtering:", llm_output_df.shape)

# Filter the original DataFrame based on the overlap
target_output_df = target_output_df[target_output_df[['sender', 'date', 'subject']].apply(tuple, axis=1).isin(overlap_set)]
print("Shape of Target Output DataFrame after filtering:", target_output_df.shape)

Found 5 overlapping combinations:
{('bart.de.vries@kraaijeveld.com', Timestamp('2025-03-26 00:00:00'), 'Tomaten prijzen Kraaijeveld'), ('huub@pseelen.nl', Timestamp('2025-03-20 00:00:00'), 'Prijslijst'), ('bart.de.vries@kraaijeveld.com', Timestamp('2025-03-03 00:00:00'), 'Capsicum prices Kraaijeveld'), ('t.hendriks@frankort.nl', Timestamp('2025-03-21 00:00:00'), 'Dagprijzen komkommers.xlsx'), ('bart.de.vries@kraaijeveld.com', Timestamp('2025-03-03 00:00:00'), 'Cucumber | Aubergines | Courgette | Onions')}
Shape of LLM Output DataFrame after filtering: (125, 18)
Shape of Target Output DataFrame after filtering: (116, 17)

In [9]:
# ---------- Configuration ----------
compare_columns = ['type', 'variety', 'subvariety', 'size', 'piece', 'brand',
                   'package_type', 'class', 'origin_country_code', 
                   'net_weight', 'quantity_per_pallet', 'price']

# explicitly list which of your compare_columns are numeric
numeric_cols = {'net_weight', 'quantity_per_pallet', 'price', 'piece'}

# ---------- Functions ----------

def find_overlap(target_df, llm_df):
    emails_ids_target = target_df[['sender', 'date', 'subject']].drop_duplicates()
    emails_ids_llm = llm_df[['sender', 'date', 'subject']].drop_duplicates()
    
    target_set = set(tuple(x) for x in emails_ids_target.values)
    llm_set = set(tuple(x) for x in emails_ids_llm.values)
    
    overlap_set = target_set & llm_set
    print(f"Found {len(overlap_set)} overlapping emails.")
    
    # Filter both DataFrames
    llm_filtered = llm_df[llm_df[['sender', 'date', 'subject']].apply(tuple, axis=1).isin(overlap_set)]
    target_filtered = target_df[target_df[['sender', 'date', 'subject']].apply(tuple, axis=1).isin(overlap_set)]
    
    print(f"LLM shape after filtering: {llm_filtered.shape}")
    print(f"Target shape after filtering: {target_filtered.shape}")
    
    return overlap_set, target_filtered, llm_filtered

def row_similarity(row1, row2, columns):
    matches = 0
    for col in columns:
        val1 = row1[col]
        val2 = row2[col]
        if pd.isna(val1) and pd.isna(val2):
            matches += 1
        elif pd.isna(val1) or pd.isna(val2):
            continue
        elif val1 == val2:
            matches += 1
    return matches / len(columns)

def row_similarity(row1, row2, columns):
    """
    Returns an average per‐column similarity:
     - for numeric columns: 1.0 if exactly equal, else 0
     - for everything else: fuzzy token_sort_ratio (0–100)/100
     - NaNs match only NaNs
    """
    scores = []
    for col in columns:
        v1 = row1[col]
        v2 = row2[col]

        # both missing → perfect
        if pd.isna(v1) and pd.isna(v2):
            scores.append(1.0)
            continue
        # one missing → zero
        if pd.isna(v1) or pd.isna(v2):
            scores.append(0.0)
            continue

        # numeric exact match
        if col in numeric_cols:
            scores.append(1.0 if v1 == v2 else 0.0)
        else:
            # fuzzy string similarity
            s1, s2 = str(v1), str(v2)
            # you can experiment with partial_ratio / token_sort_ratio etc.
            ratio = fuzz.token_sort_ratio(s1, s2)  
            scores.append(ratio / 100.0)

    return sum(scores) / len(columns)

def attribute_match(row1, row2, columns):
    result = {}
    for col in columns:
        val1 = row1[col]
        val2 = row2[col]
        if pd.isna(val1) and pd.isna(val2):
            result[col] = 1
        elif pd.isna(val1) or pd.isna(val2):
            result[col] = 0
        elif val1 == val2:
            result[col] = 1
        else:
            result[col] = 0
    return result

def match_rows(target_df, llm_df, overlap_set):
    all_reports, all_matches, all_mismatches, detailed_field_results_all = [], [], [], []

    for combination in overlap_set:
        sender, date, subject = combination
        
        # Filter
        llm_filtered = llm_df[(llm_df['sender'] == sender) & 
                              (llm_df['date'] == date) & 
                              (llm_df['subject'] == subject)]
        
        target_filtered = target_df[(target_df['sender'] == sender) & 
                                    (target_df['date'] == date) & 
                                    (target_df['subject'] == subject)]
        
        # Sort
        llm_filtered = llm_filtered.sort_values(by=['price', 'type', 'origin_country_code'])
        target_filtered = target_filtered.sort_values(by=['price', 'type', 'origin_country_code'])
        
        matches = []
        used_llm_indices = set()
        detailed_field_results = []

        for idx_target, target_row in target_filtered.iterrows():
            best_score = -1
            best_idx = None
            best_field_match = None

            for idx_llm, llm_row in llm_filtered.iterrows():
                if idx_llm in used_llm_indices:
                    continue
                score = row_similarity(target_row, llm_row, compare_columns)
                if score > best_score:
                    best_score = score
                    best_idx = idx_llm
                    best_field_match = attribute_match(target_row, llm_row, compare_columns)

            if best_idx is not None:
                match_record = {
                    'supplier_name': target_row.get('supplier_name', np.nan),
                    'sender': sender,
                    'date': date,
                    'subject': subject,
                    'idx_target': idx_target,
                    'idx_llm': best_idx,
                    'similarity': best_score
                }
                for col in compare_columns:
                    match_record[f'{col}_target'] = target_row.get(col, np.nan)
                    match_record[f'{col}_llm'] = llm_filtered.loc[best_idx].get(col, np.nan)
                all_matches.append(match_record)

                # Record mismatches
                for col in compare_columns:
                    target_val = target_row.get(col, np.nan)
                    llm_val = llm_filtered.loc[best_idx].get(col, np.nan)

                    if (pd.isna(target_val) and pd.isna(llm_val)):
                        continue
                    elif (pd.isna(target_val) or pd.isna(llm_val)) or (target_val != llm_val):
                        mismatch_record = {
                            'supplier_name': target_row.get('supplier_name', np.nan),
                            'sender': sender,
                            'date': date,
                            'subject': subject,
                            'attribute': col,
                            'target_value': target_val,
                            'LLM_value': llm_val
                        }
                        all_mismatches.append(mismatch_record)

                matches.append({'target_idx': idx_target, 'llm_idx': best_idx, 'similarity': best_score})
                used_llm_indices.add(best_idx)
                detailed_field_results.append(best_field_match)

        matches_df = pd.DataFrame(matches)
        detailed_field_df = pd.DataFrame(detailed_field_results)
        detailed_field_results_all.append(detailed_field_df)

        report = {
            'supplier_name': target_row.get('supplier_name', np.nan),
            'sender': sender,
            'date': date,
            'subject': subject,
            'n_offers_target': len(target_filtered),
            'n_offers_llm': len(llm_filtered),
            'average_similarity': matches_df['similarity'].mean(),
            'std_similarity': matches_df['similarity'].std(),
            'percentage_perfect_matches': (matches_df['similarity'] == 1.0).mean() * 100
        }
        
        for col in compare_columns:
            if not detailed_field_df.empty:
                report[f'accuracy_{col}'] = detailed_field_df[col].mean()
            else:
                report[f'accuracy_{col}'] = np.nan
        
        all_reports.append(report)

    return all_reports, all_matches, all_mismatches, pd.concat(detailed_field_results_all, ignore_index=True)

def generate_misclassified_products_report(matches_df):
    if 'type_target' in matches_df.columns:
        product_match_report = (
            matches_df
            .groupby('type_target')
            .agg(
                average_similarity=('similarity', 'mean'),
                std_similarity=('similarity', 'std'),
                n_rows=('similarity', 'count')
            )
            .reset_index()
            .sort_values('average_similarity', ascending=True)
        )
        product_match_report.to_csv('report_per_type.csv', index=False)
        print("✅ Misclassified Products Report saved: report_per_type.csv")
    else:
        print("⚠️ Warning: type_target column not found, cannot create misclassified products report.")

def generate_attribute_similarity_report(detailed_field_df, compare_columns):
    if detailed_field_df.empty:
        print("⚠️ No detailed field comparison data available.")
        return
    
    report_rows = []
    for col in compare_columns:
        avg = detailed_field_df[col].mean()
        std = detailed_field_df[col].std()
        report_rows.append({
            'attribute': col,
            'average_similarity': avg,
            'std_similarity': std
        })
    
    attribute_report_df = pd.DataFrame(report_rows)
    attribute_report_df.to_csv('report_per_attribute.csv', index=False)
    print("✅ Attribute Similarity Report saved: report_per_attribute.csv")

# ---------- Main execution ----------

# 1. Find overlaps
overlap_set, target_output_df, llm_output_df = find_overlap(target_output_df, llm_output_df)

# 2. Match rows and collect reports
all_reports, all_matches, all_mismatches, all_detailed_field_df = match_rows(target_output_df, llm_output_df, overlap_set)

# 3. Save outputs
final_report_df = pd.DataFrame(all_reports)
final_matches_df = pd.DataFrame(all_matches)
final_mismatches_df = pd.DataFrame(all_mismatches)

final_report_df.to_csv('report_per_email.csv', index=False)
final_matches_df.to_csv('report_row_matches.csv', index=False)
final_mismatches_df.to_csv('report_value_mismatches.csv', index=False)

print("✅ Validation report saved: validation_report.csv")
print("✅ Matches saved: matches.csv")
print("✅ Field-level mismatches saved: field_level_mismatches.csv")

# 4. Create misclassified products report
generate_misclassified_products_report(final_matches_df)

# 5. Create attribute similarity report
generate_attribute_similarity_report(all_detailed_field_df, compare_columns)

Found 5 overlapping emails.
LLM shape after filtering: (125, 18)
Target shape after filtering: (116, 17)
✅ Validation report saved: validation_report.csv
✅ Matches saved: matches.csv
✅ Field-level mismatches saved: field_level_mismatches.csv
✅ Misclassified Products Report saved: report_per_type.csv
✅ Attribute Similarity Report saved: report_per_attribute.csv